@using System.Security.Policy
<!DOCTYPE html>
<html>
<head>


    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<header>
    <div>
        <a href="Fantasy.html"></a>
        <a href="Horror.html"></a>
        <a href="Komedie.html"></a>
        <a href="Sensacyjne.html"></a>
        <a href="Thrillery.html"></a>
    </div>
</header>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @* @Html.ActionLink("Sklep internetowy", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"}) *@
        </div>
        <div class="navbar-collapse collapse text-right" >
            <ul class="nav navbar-nav" >
                <li class="test">@Html.ActionLink("Fantasy", "Index", "Home")</li>
                <li class="test">@Html.ActionLink("Horror", "About", "Home")</li>
                <li class="test">@Html.ActionLink("Komedie", "Contact", "Home")</li>
                <li class="test">@Html.ActionLink("Sensacyjne", "Contact", "Home")</li>
                <li class="test">@Html.ActionLink("Thrillery", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <div id="stopka">
            <a href="@Url.Action("StaticSite","Home", new { name="Onas"})">O nas</a>
            <a href="@Url.Action("Contact","Home", new { name="Kontakt"})">Kontakt</a>
            <a href="@Url.Action("PaymentMethods","Home", new { name="MetodyPlatnosci"})">Metody Platnosci</a>
            <a href="@Url.Action("Regulations","Home", new { name="Regulamin"})">Regulamin</a>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
