@using System.Security.Policy

<!DOCTYPE html>
<html>
<head>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wypożyczalnia filmów</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
       
        a {
            text-decoration: none!important;
            color: black ;
        }
        .disabled {
            pointer-events: none !important;
            padding: 20px !important;
            color: black !important;
            text-shadow: 5px 5px 10px black !important;
        }
        .test {
            text-align: center;

            font-size: 2rem;
        }
        #stopka {
            height: 100px;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #3d3a3b;
            color: white !important;
            text-align: center;
        }
        .text-footer {
            padding-top: 2rem;
            margin: 40px;
            color: white!important;
            font-size: 2rem;
        }
        .text-footer:hover {
            text-decoration: none;
            color: gold;
        }
        #background {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: linear-gradient(rgba(192,192,192, 0.5), rgba(255, 255, 255, 0.7)), url(../Content/images/background.jpg);
        }
        header {
            margin-top: -50px;
            background: #3d3a3b;
        }
    </style>
</head>
<body id="background">
<header>
    @Html.Action("CategoriesMenu", "Films");
    @Html.Partial("_LoginPartial");
    <div id="koszyk" style="color: aliceblue; font-size: 3rem;">
        <a  style="color: aliceblue; font-size: 3rem;" href="@Url.Action("Index", "Cart")">&#128717; (<span  id="cartQuantity"> @Html.Action("GetCartQuantity", "Cart") </span>)</a>
    </div>
</header>

<div class="container body-content" >
    @RenderBody()

</div>

<hr/>

<footer id="footer">
    <div id="stopka" class="container footer-content">
        <a class="text-footer" href="@Url.Action("StaticSite","Home", new { name="Onas"})">O nas</a>
        <a  class="text-footer"  href="@Url.Action("Contact","Home", new { name="Kontakt"})">Kontakt</a>
        <a class="text-footer"   href="@Url.Action("PaymentMethods","Home", new { name="MetodyPlatnosci"})">Metody Platnosci</a>
        <a  class="text-footer"  href="@Url.Action("Regulations","Home", new { name="Regulamin"})">Regulamin</a>
    </div>
</footer>
    

@RenderSection("Scripts",false);

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>
